@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'SteezBold';
  src: url('/fonts/SteezBold.ttf') format('truetype'); /* Update the font path and format accordingly */
}

@font-face {
  font-family: 'SteezRegular';
  src: url('/fonts/Steez-Regular.ttf') format('truetype'); /* Update the font path and format accordingly */
}

@font-face {
  font-family: 'PlatNomor';
  src: url('/fonts/PlatNomor.ttf') format('truetype'); /* Update the font path and format accordingly */
}

@font-face {
  font-family: 'DueCredit';
  src: url('/fonts/DueCreditBold.otf') format('truetype'); /* Update the font path and format accordingly */
}

@font-face {
  font-family: 'EuroWestern';
  src: url('/fonts/EuroWestern.otf') format('truetype'); /* Update the font path and format accordingly */
}

body {
  color: rgb(var(--foreground-rgb));
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
